/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.street-light {
  height: 200px;
  width: 200px;
}

.red-light {
  background-color: red;
}

.yellow-light {
  background-color: yellow;
}

.green-light {
  background-color: green;
}

.selected {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 50px #9ecaed;
}
